<div class="container">
    <app-header></app-header>
    <div class="temp-panels">
        <app-climate-panel *ngIf="!!weatherData" class="panel" [indoor]="false" [temp]="weatherData.main.temp" [high]="0"></app-climate-panel>
        <app-climate-panel class="panel"></app-climate-panel>
        <app-climate-panel *ngIf="!!sensorData"
                           class="panel"
                           [indoor]="true"
                           [temp]="sensorData.temperature"
                           [low]="sensorData.temperatureLow"
                           [high]="sensorData.temperatureHigh"></app-climate-panel>
    </div>
    <div class="humidity-panels">
        <app-humidity-panel *ngIf="!!weatherData" class="panel" [indoor]="false" [humidity]="weatherData.main.humidity" [high]="0" [low]="0"></app-humidity-panel>
        <app-humidity-panel *ngIf="!!sensorData"
                            class="panel"
                            [indoor]="true"
                            [humidity]="sensorData.humidity"
                            [high]="sensorData.humidityHigh"
                            [low]="sensorData.humidityLow"></app-humidity-panel>
    </div>
</div>
