.container {
    display: flex;
    flex-direction: column;

    .temp-panels, .humidity-panels {
        margin: 0 10px 10px 10px;
        flex-grow: 2;
        display: flex;
        justify-content: space-between;

        .panel:first-child {
            margin-right: 10px;
        }

        .panel:last-child {
            margin-left: 10px;
        }
    }
}

