.container {
    display: flex;
    flex-direction: column;

    .panels {
        margin: 0 10px 10px 10px;
        flex-grow: 2;
        display: flex;
        justify-content: space-between;

        app-climate-panel:first-child {
            margin-right: 10px;
        }

        app-climate-panel:last-child {
            margin-left: 10px;
        }
    }
}

